* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url(../img/header_img.jpg);
  background-size: cover;
  color: #fff;
}
header h1 {
  text-align: center;
  padding: 9rem 0 4rem 0;
}
header h1 span {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 3.5rem;
}
header p {
  text-align: center;
  padding-bottom: 8rem;
  font-size: 2rem;
}
.story {
  background: #163e28;
  color: white;
}
.story h2 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.7rem;
}
.story p {
  text-align: center;
  line-height: 1.5;
}
.story span {
  color: #579377;
}
.story .story_images {
  display: flex;
  justify-content: center;
  padding: 2rem 0 4rem 0;
}
.story .story_images img {
  border: 1px solid grey;
  border-radius: 50%;
  margin: 1rem;
  width: 1rem;
}
.story .story_images h6 {
  text-align: center;
}
.second-image {
  background: #163e28;
}
.second-image .cover-image {
  height: 30vh;
  width: 100%;
  background-image: url(../img/cover-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
