.story {
    background: @darkGreen;
    color: white;

    h2 {
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 1.7rem;
    }

    p {
        text-align: center;
        line-height: 1.5;
    }

    span {
        color: #579377;
    }


    .story_images {
        display: flex;
        justify-content: center;
        padding: 2rem 0 4rem 0;

        img {
            border: 1px solid grey;
            border-radius: 50%;
            margin: 1rem;
            width: 1rem;
        }

        h6 {
            text-align: center;
        }

    }
}

.second-image {

    background: @darkerGreen;


    .cover-image {
        height: 30vh;
        width: 100%;

        background-image: @coverImage;
        background-repeat: no-repeat;
        background-position: center;

    }
}

.third-section {
    background: @darkGreen;
    color: #fff;

    .third-section-div {
        display: flex;
        justify-content: space-around;
        padding: 6rem;

        .third-section-div2 {
            width: 70%;

            .firstP {
                text-transform: uppercase;
                padding-bottom: 1rem;
            }
        }
    }
}