.story {
    background: @darkGreen;
    color: white;

    h2 {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 1.7rem;
    }

    p {
        text-align: center;
        line-height: 1.5;
    }
}